@model IEnumerable<HarrisContactWeb.netcore.Models.BusinessContact>

@{
    ViewData["Title"] = "Business Contacts";
}

<h1>Business Contacts</h1>
<!--this be the index page that will show the records. It was automaticly created, the only things that changed is the  fact
    that it now has a different header, the CRUD functionality and the looks were unchanged-->
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAddr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAddr2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessBTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessAddr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessAddr2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessBTel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
